**Analysis of the salaries data set**

Import of Libraries:

In [1]:
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("pdf", "svg")
import numpy as np
from src.preprocessing import complete_preprocessing, load_data
from sklearn.linear_model import LinearRegression

C:\Users\timwe\AppData\Local\Temp/ipykernel_26892/1298243271.py:3: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("pdf", "svg")

#### Raw data

In [7]:
_, salaries_data, _ = load_data()
print(salaries_data.shape)

(2451, 12)

In [8]:
salaries_data.head(10)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2021e,MI,FT,DevOps Engineer,55000,EUR,65013,FR,100,FR,S
1,1,2021e,SE,FT,DevOps Architect,165000,USD,165000,US,100,US,L
2,2,2021e,EN,FT,DevOps Engineer,100000,USD,100000,US,100,US,L
3,3,2021e,SE,FT,Staff Site Reliability Engineer,225000,USD,225000,US,50,US,L
4,4,2021e,SE,FT,DevOps Engineer,142000,CAD,113262,CA,100,CA,M
5,5,2021e,EX,FT,DevOps Manager,330000,USD,330000,US,100,US,M
6,6,2021e,SE,FT,DevOps Engineer,135000,CAD,107679,CA,100,CA,M
7,7,2021e,SE,FT,Cloud Architect,4500000,INR,60856,IN,50,IN,L
8,8,2021e,MI,FT,Cloud Infrastructure Engineer,110000,USD,110000,US,50,US,S
9,9,2021e,SE,FT,Infrastructure Engineer,190000,USD,190000,US,100,US,L

#### Preprocessed data

In [9]:
salaries = complete_preprocessing()
print(salaries.shape)

(2245, 16)

c:\Users\timwe\VisualStudio\Data-Litaracy-Project\exp\src\preprocessing.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_data['gdp_per_capita'] = (gdp_data['gdp_md_est'] / gdp_data['pop_est'] * 1000000)

In [5]:
salaries.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,remote_ratio,company_size,company_location_iso_a3,employee_residence_iso_a3,gdp_company_location,gdp_employee_residence,same_country,ai_or_ml_job
74,1957,2021,2,FT,Fullstack Engineer,55000,USD,55000,100,1,USA,ROU,56823.436824,20483.078307,0.0,0.0
75,751,2021,3,FT,Data Engineer,65000,EUR,76833,50,1,GBR,ROU,43044.983614,20483.078307,0.0,1.0
76,2266,2021,3,FT,Data Engineer,65000,EUR,76833,50,1,GBR,ROU,43044.983614,20483.078307,0.0,1.0
77,65,2021,1,FT,DevOps Engineer,22800,EUR,26950,100,3,ROU,ROU,20483.078307,20483.078307,1.0,0.0
78,1052,2021,1,FT,Python Developer,12000,EUR,14184,0,2,ROU,ROU,20483.078307,20483.078307,1.0,0.0

#### Regression

In [10]:
#Calculate regression coefficients
salaries = salaries[["ai_or_ml_job","salary_in_usd", "experience_level","work_year","company_size", "same_country","remote_ratio","gdp_employee_residence"]]
salaries_norm = ((salaries - salaries.mean()) /salaries.std())
X = salaries_norm[["ai_or_ml_job", "experience_level","work_year","company_size", "same_country","remote_ratio","gdp_employee_residence"]]
y = salaries_norm["salary_in_usd"]
X = X.to_numpy()
y = y.to_numpy()

reg = LinearRegression(fit_intercept=True).fit(X.reshape(-1,7), y)
print(reg.coef_)
r2_score = reg.score(X.reshape(-1,7), y)
print(r2_score)
print(reg.intercept_)

[ 0.05325158  0.47292354  0.04016034  0.0449297  -0.08871839  0.05940052
  0.55338875]
0.5228490512741717
-1.610904201639035e-15