**Analysis of the salaries data set**

Import of Libraries:

In [1]:
# Make inline plots vector graphics
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("pdf", "svg")
#
# Plotting setup
import matplotlib.pyplot as plt

# Package imports
import numpy as np
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
#Analysis tools
import preprocessing as pre
from sklearn.linear_model import LinearRegression

C:\Users\timwe\AppData\Local\Temp/ipykernel_12596/444354043.py:4: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("pdf", "svg")

#### Raw data

In [2]:
world_data, salaries_data, countries_data = pre.load_data()
print(salaries_data.shape)

(1544, 11)

In [3]:
salaries_data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021,SE,FT,Cyber Security Architect,110000,EUR,130026,NL,100,NL,L
1,2021,SE,FT,Software Engineer,50000,EUR,59102,FR,50,FR,L
2,2021,MI,FT,Front End Engineer,36000,USD,36000,AR,100,IL,S
3,2022e,SE,CT,Frontend Developer,128000,USD,128000,SK,100,US,S
4,2021,SE,FT,Web Developer,124800,USD,124800,US,100,US,L

#### Preprocessed data

In [4]:
salaries = pre.complete_preprocessing()
print(salaries.shape)

(1415, 15)

c:\Users\timwe\VisualStudio\Data-Litaracy-Project\src\preprocessing.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_data['gdp_per_capita'] = (gdp_data['gdp_md_est'] / gdp_data['pop_est'] * 1000000)

In [5]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,remote_ratio,company_size,company_location_iso_a3,employee_residence_iso_a3,gdp_company_location,gdp_employee_residence,same_country,ai_or_ml_job
0,2021,3,FT,Cyber Security Architect,110000,EUR,130026,100,3,NLD,NLD,50969.524287,50969.524287,1.0,0.0
1,2021,1,FT,Cyber Security Analyst,75000,EUR,88654,100,3,NLD,NLD,50969.524287,50969.524287,1.0,0.0
2,2021,2,FT,Product Designer,40000,EUR,47282,100,2,NLD,NLD,50969.524287,50969.524287,1.0,0.0
3,2021,2,FT,Chief Information Security Officer,40000,USD,40000,50,3,NLD,NLD,50969.524287,50969.524287,1.0,0.0
4,2020,4,PT,Director of Infrastructure,86000,EUR,98080,50,2,NLD,NLD,50969.524287,50969.524287,1.0,0.0

#### Regression

In [6]:
#Calculate regression coefficients
salaries = salaries[["ai_or_ml_job","salary_in_usd", "experience_level","work_year","company_size", "same_country","remote_ratio","gdp_employee_residence"]]
salaries_norm = ((salaries - salaries.mean()) /salaries.std())
X = salaries_norm[["ai_or_ml_job", "experience_level","work_year","company_size", "same_country","remote_ratio","gdp_employee_residence"]]
y = salaries_norm["salary_in_usd"]
X = X.to_numpy()
y = y.to_numpy()

reg = LinearRegression(fit_intercept=True).fit(X.reshape(-1,7), y)
print(reg.coef_)
r2_score = reg.score(X.reshape(-1,7), y)
print(r2_score)

[ 0.05540313  0.46266091  0.04165224  0.05452619 -0.10655986  0.06001988
  0.55676665]
0.5156696718759024